<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Alunos</title>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3.3.4/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.6/dist/vuetify.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.6/dist/vuetify.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <v-app>
            <div>
                <v-toolbar dark prominent image="/img/banner_dark.png">
                    <v-icon :icon="porAula ? 'mdi-lead-pencil' : 'mdi-school'" @click="porAula = !porAula;this.rail = !porAula;"></v-icon>
                    <v-autocomplete v-if="!porAula" variant="underlined" :items="listaAlunos"
                        v-model="aluno" @update:model-value="alunoAlterado"></v-autocomplete>
                        <v-autocomplete v-if="porAula" variant="underlined" :items="listaAulas"
                        v-model="aula" @update:model-value="aulaAlterada"></v-autocomplete>

                    <v-spacer></v-spacer>

                </v-toolbar>
                
            </div>

            <v-card>
                <v-layout>

                    <v-main>
                        <iframe :src="linkFrame" frameborder="0"></iframe>
                    </v-main>
                    <v-navigation-drawer permanent :rail="!rail" location="right" app :width="porAula ? w : 'auto'" @mouseleave="rail = !porAula" @mouseenter="rail = true">
                        <v-list v-if="!porAula" v-for="item in listaAulasPorAluno" id="aulas" :class="{active: item.aula === aula}">
                            <v-list-item :disabled="item.link === ''" @click="trocaIframe(item, $event)">
                                <span v-if="item.link !== ''">Aula {{item.aula}}</span>
                                <span v-if="item.link === ''">Aula {{item.aula}}</span>
                            </v-list-item>
                        </v-list>
                        <div class="d-flex flex-wrap" :width="w">
                        <div v-if="porAula" density="compact" v-for="item in listaAlunosPorAula" id="aulas" class="d-flex flex-row listaAlunos" :class="{active: item.aula === aula}">
                            <v-list-item @click="trocaIframeAluno(item, $event)" :disabled="getLink(item) === ''">
                                <span v-if="getLink(item) !== ''">{{item.aluno}}</span>
                                <span v-if="getLink(item) === ''">{{item.aluno}}</span>
                            </v-list-item>
                        </div>
                        </div>
                    </v-navigation-drawer>

                </v-layout>
            </v-card>
                    
    </div>
    </v-app>
    <script src="script.js"></script>
</body>

</html>