body{
    background-color: rgb(110, 110, 226);

}

h1{
    text-align: center;
    font-size: 1cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}