body{
    display: flex;
    flex-flow: column;
    background-color: gray;
    color:white;
    margin: 25px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
