body{
    background-image: url(https://wallpapercave.com/wp/wp2483329.jpg);
    text-align: center;
    color: rgb(212, 248, 8);
}
h1{
    background-color: rgb(105, 161, 32);
}
img{
    height: 300px;
}