body {
    text-align: center;
    background-color: rgb(1, 101, 126);

}
.texto {
    color: #000;
    text-shadow: 
             -1px -1px 0px rgb(255, 255, 255), 
             -1px 1px 0px #FFF,                    
              1px -1px 0px #FFF,                  
              1px 0px 0px #FFF;
}
.texto1 {
    color: #000;
    -webkit-text-stroke: 1px #FFF;
     text-stroke: 1px #FFF;
}
p.boxmodel2 {
    margin-left: auto;
    margin: auto ;
}
div{
        height: 1px;
        width: 100px;
        height: 50px;
        padding: 20px;
        border: 1px solid;
        margin: auto
        ;
      }
