
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&family=Poppins:wght@300&display=swap');
body{
    background-color:#373f51 ;
    color: gainsboro;
}
header,footer{
    font-family: 'poppins', sans-serif;
    text-align: center;
    background-color:#38499D;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 0 solid black;
    box-shadow: 10px 10px 0 10px black;
    
}
#header img {
    width: 105px;
    text-align: left;
    display:flex;
    position: absolute;
    padding-left: 20px;
}
#header h1{
    font-style: bold;
    z-index: 1;
    
}
#header h2{
    font-style: italic;
    z-index: 1;
}
#resultado {
    display:flex;
    font-size: 20px;
    font-family: 'manrope';
    font-style: bold;
    text-align: center;
    justify-content: center;
}
ul li{
    list-style: none;
}
#footer{
    display: flex;
    flex-flow: column-reverse;
    

}

