table {
    border-collapse: collapse;
}
div
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center ;
}
th,
td {
    border: black solid 2px;
    padding: 28px
}

table:hover{
    position: absolute;
    margin-left:-1000px;
}
