<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 13</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id = "app">
        <h2 id="bri">{{Melhores.titulo}}</h2>
        <ul>
            <div v-for="(item, indice) in Melhores.lista" :key="indice">
                <li>{{item}}</li>
            </div>
        </ul>
        <img v-if="Melhores.lista.length > 0" src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt87f66df785580ab1/634ed40f9eba1f11e7026285/GettyImages-1243926179.jpg?auto=webp&format=pjpg&width=3840&quality=60">

        <button @click="mostraMelhores">Lista de Melhores</button>
    </div>
    <script src="script.js"></script>
</body>

</html>