<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Mamacos do Artico</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        {{msgCarreg}}
        <ol id="listSongs">
            <div v-for="item in songs" :key="item.song">
                <li>{{item.song}}</li>
                <p>{{item.comp}}</p>
                <p>{{item.year}}</p>
                <p>{{item.album}}</p>
                <img :src="item.img" alt="">
               
            </div>
        </ol>
        <button id="btnSongs" @click="loadSongs" v-if="showButton">Clique aqui</button>
    </div>
    <script src="script.js"></script>
</body>

</html>
